<html>
    <meta charset="utf-8">
    <title></title>
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
        <div class="main">
        <ccontent1 v-on:getnumber="getCount" v-if="count===1"></ccontent1>
        <ccontent2 v-on:getnumber="getCount" v-if="count===2"></ccontent2>
        <ccontent3  v-on:getnumber="getCount"v-if="count===3"></ccontent3>
        <cbutton1  v-on:getnumber="getCount" v-if="count===1"></cbutton1>
        <cbutton2 v-on:getnumber="getCount" v-if="count===2"></cbutton2>
        <cbutton3 v-on:getnumber="getCount" v-if="count===3"></cbutton3>
        </div>
        </div>
        <script src="content.js"></script>
        <script src="button.js"></script>
        <script src="index.js"></script>
    </body>
</html>