.main{
    width:500px;
    height:600px;
    background-color: #ffffff;
    border:1px solid #000000;
    margin: 5px 10px;
}
.btn{
    border-radius: 4px;
    background-color: beige;
    border:1px solid #000000;
    width:100px;
    height:40px;
    margin:25px;
}
.btn2{
    border-radius: 4px;
    background-color: #053d47;
    border:1px solid #000000;
    width:100px;
    height:40px;
}
.con{
    width:500px;
    height:600px;
    border:1px solid #000000;
    top:30px;
}
.footer{
    width:500px;
    height:80px;
    top:500px;
    left:30px;
    position: absolute;
}